#img-expo1{
margin-left:-45%;
}
#img-expo2{
margin-right:-80%;
margin-top:-35%;
}
#img-expo3{
margin-right:-60%;
margin-top:5%;
}
#img-expo4{
margin-left:-55%;
margin-top:-35%;
}
#img-expo5{
margin-left:-45%;
margin-top:5%;
}
#img-expo6{
margin-right:-80%;
margin-top:-35%;
}
#img-expo7{
margin-right:-60%;
margin-top:5%;
}
#img-expo8{
margin-left:-55%;
margin-top:-35%;
}

